.header-container {
  background-color: #f8fafc;
  padding: 10px;
  display: flex;

  font-family: 'Bree Serif';
}
.logo {
  width: 50px;
  margin-right: 10px;
}
.heading {
  color: #0f172a;
  font-size: 20px;
}
